In [2]:
import pandas as pd

#### Read from original dataset
<a href="https://www.kaggle.com/datasets/esraamadi/saudi-arabia-weather-history">Saudi Arabia Weather History</a>

In [3]:
# Read csv file (weather-sa-2017-2019-clean.csv)
df = pd.read_csv('../Dataset/weather-sa-2017-2019-clean.csv', index_col=0)
df

,city,date,time,year,month,day,hour,minute,weather,temp,wind,humidity,barometer,visibility
0,Qassim,1 January 2017,00:00,2017,1,1,24,0,Clear,17,11,64%,1018.0,16
1,Qassim,1 January 2017,01:00,2017,1,1,1,0,Clear,17,6,64%,1018.0,16
2,Qassim,1 January 2017,03:00,2017,1,1,3,0,Clear,15,11,72%,1019.0,16
3,Qassim,1 January 2017,04:00,2017,1,1,4,0,Clear,15,11,72%,1019.0,16
4,Qassim,1 January 2017,05:00,2017,1,1,5,0,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2848,Jawf,30 April 2019,19:00,2019,4,30,19,0,Passing clouds,32,19,14%,1014.0,-1
2849,Jawf,30 April 2019,20:00,2019,4,30,20,0,Passing clouds,29,9,22%,1015.0,-1
2850,Jawf,30 April 2019,21:00,2019,4,30,21,0,Passing clouds,27,7,24%,1016.0,-1
2851,Jawf,30 April 2019,22:00,2019,4,30,22,0,Clear,26,0,26%,1017.0,16
2852,Jawf,30 April 2019,23:00,2019,4,30,23,0,Clear,24,7,29%,1017.0,16

In [4]:
# Add new column to combine the (date) and (time) columns as a string value
df['string_timestamp'] = df['date'] + ' ' +  df['time']
df['string_timestamp']

0       1 January 2017 00:00
1       1 January 2017 01:00
2       1 January 2017 03:00
3       1 January 2017 04:00
4       1 January 2017 05:00
                ...
2848     30 April 2019 19:00
2849     30 April 2019 20:00
2850     30 April 2019 21:00
2851     30 April 2019 22:00
2852     30 April 2019 23:00
Name: string_timestamp, Length: 249023, dtype: object

In [5]:
df['timestamp'] = pd.to_datetime(df['string_timestamp'], format='%d %B %Y %H:%M')

In [6]:
# Generate the new ID in the format 'city-year-month-day-time'
df['ID'] = df['city'] + '-' + df['year'].astype(str) + '-' + df['month'].astype(str) + '-' + df['day'].astype(str) + '-' + df['time']

In [7]:
new_weather_df = df[['ID', 'city', 'timestamp', 'weather', 'temp', 'wind', 'humidity', 'barometer', 'visibility']]
new_weather_df

,ID,city,timestamp,weather,temp,wind,humidity,barometer,visibility
0,Qassim-2017-1-1-00:00,Qassim,2017-01-01 00:00:00,Clear,17,11,64%,1018.0,16
1,Qassim-2017-1-1-01:00,Qassim,2017-01-01 01:00:00,Clear,17,6,64%,1018.0,16
2,Qassim-2017-1-1-03:00,Qassim,2017-01-01 03:00:00,Clear,15,11,72%,1019.0,16
3,Qassim-2017-1-1-04:00,Qassim,2017-01-01 04:00:00,Clear,15,11,72%,1019.0,16
4,Qassim-2017-1-1-05:00,Qassim,2017-01-01 05:00:00,Clear,15,9,72%,1019.0,16
...,...,...,...,...,...,...,...,...,...
2848,Jawf-2019-4-30-19:00,Jawf,2019-04-30 19:00:00,Passing clouds,32,19,14%,1014.0,-1
2849,Jawf-2019-4-30-20:00,Jawf,2019-04-30 20:00:00,Passing clouds,29,9,22%,1015.0,-1
2850,Jawf-2019-4-30-21:00,Jawf,2019-04-30 21:00:00,Passing clouds,27,7,24%,1016.0,-1
2851,Jawf-2019-4-30-22:00,Jawf,2019-04-30 22:00:00,Clear,26,0,26%,1017.0,16
2852,Jawf-2019-4-30-23:00,Jawf,2019-04-30 23:00:00,Clear,24,7,29%,1017.0,16

In [8]:
def dataset_by_city(*cities):
    
    for city in cities:
        if " " in city:
            city_with_underscore = city.replace(" ", "_")
            city = city_with_underscore
        city_weather = new_weather_df.loc[new_weather_df['city'] == f"{city}"]
        city_weather.to_csv(f"../Reorganize-dataset/{city}_weather_log.csv", index=False)

In [9]:
dataset_by_city('Jawf', 'Baha', 'Najran', 'Northern boarder', 'Jazan', 'Assir', 
                'Tabuk', 'Mecca', 'Riyadh', 'Madina', 'Hail', 'Qassim')